.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

body {
    background-color: #b7bdff;
    margin: 0;
    height: 100%;
}

h1 {
    margin: 30px;
    font-family: "Lobster", cursive;
    /* text-shadow: 5px 0 #232931; */
    font-size: 4.5rem;
    color: #161d6d;
    text-align: center;
}

p {
    font-size: 2rem;
    color: #161d6d;
    /* font-family: "Indie Flower", cursive; */
}

img {
    width: 100%;
}

.bottom {
    padding-top: 30px;
}

.butn {
    background: #161d6d;
    /* font-family: "Indie Flower", cursive; */
    border-radius: 7px;
    color: #ffff;
    font-size: 20px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.butn:hover {
    background: #808aff;
    text-decoration: none;
}

footer {
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
    font-weight: 400;
    padding: 0px 1rem 1.2rem 1rem;
}

.inline {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}